name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Hacer ejecutable gradlew
        run: chmod +x ./gradlew

      - name: Ejecutar pruebas
        run: ./gradlew test --info

      - name: Construir el proyecto
        run: ./gradlew build